body{
	font-family: 'Alice', serif;
	color: #333;
}
a:link, a:active, a:visited{
	color: whitesmoke;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/* grid 960px */
.linha{
    margin: 0 auto;
    overflow: auto;

}
.imgheader{
    align-items: center;
}
.coluna{
    padding: 0;
    float: left;
}
.col1{
    width: 6.25%;
}
.col2{
    width: 14.58333333%;
}
.col3{
    width: 22.916666%;
}
.col4{
    width: 31.25%;
}
.col5{
    width: 39.58333333%;
}
.col6{
    width: 47.9166666%;
}
.col7{
    width: 56.25%;
}
.col8{
    width: 64.583333%;
}
.col9{
    width: 72.9166666%;
}
.col10{
    width: 81.25%;
}
.col11{
    width: 89.5833333%;
}
.col12{
    width: 97.91666666%;
}
.col13{
    width: 100%;
}

/* estilos reutilisaveis */
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 1em 0 1em 0;
}
ul li, ol li{
	margin-bottom: 1em;
}
ul.inline li, ol.inline li{
	display: inline;
	margin-right: 1em;
}
ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 15px;
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}
a.botao, input.botao{
	background: red;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
}
a.botao:hover, input.botao:hover{
	background: red;
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
/* layout do site*/
.header{
	background: linear-gradient(grey, white);
	max-height: 64px;
}
h1.logo{

}
.conteudo-extra{
	background: linear-gradient(white,#f1f2ea);
}
.footer{
	background: linear-gradient(#f1f2ea,black);
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-weight: 100;
}
.menu{
	text-transform: uppercase;
	text-align: right;
	margin-top: 0;
}
.menu li a{
	padding: 5px 10px;
	border-radius: 3px;
}
.menu li a:hover{
	text-decoration: none;
	background: #1f3c58;
	color: #ebebeb;
}
.menutopo{
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 0;
}
.menutopo li a{
	padding: 5px 10px;
	border-radius: 3px;
}
.menutopo li a:hover{
	text-decoration: none;
	background: #1f3c58;
	color: #ebebeb;
}
ul.noticias li{
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
ul.noticias li img{
	width: 70px;
	height: auto;
	margin-right: 10px;
	float: left;
}
ul.noticias li h4{
	margin: -2px 0 5px 0;
	font-weight: 500;
}
ul.noticias li p{
	margin: 5px 0;
	font-weight: 300;
}
ul.noticias li p a{
	font-weight: 500;
}
.contato label{
	display: block;
	font-size: 13px;
	font-weight: 300;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 96%;
}
.contato textarea{
	height: 150px;
}
.contato input.botao{
	width: auto;
}
.center{
	display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}
.centerlin{
	display: flex;
  flex-direction: line;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}
.imgcen{
	width: 100%
}
.sidebar{
	background: none !important;
}
.topo{
	    background-image:url(https://centralparkzoo.com/assets/heroes/home/centralparkzoo-88276dda4712cdf83354ceb7ba7bb20a.jpg);
	    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#menutopo{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.75), transparent) !important;
    background-image: linear-gradient(rgba(0,0,0,0.75), transparent);
    font-size: 1.8em;

}
#menubaix{
    background-image: -webkit-linear-gradient( transparent, black) !important;
    background-image: linear-gradient(transparent, black);
    font-size: 1.5em;

}    